entrypoint = "main.py"
run = "python3 main.py"

modules = ["python-3.10:v20-20230824-f46249a"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
deploymentTarget = "static"
publicDir = "public"

[[ports]]
localPort = 8080
externalPort = 80
