html, body {
  height: 100%;
  width: 100%;
  background-color:#121212;
}

h1 {
  font-family:"Font";
  font-size:75px;
  color:#00bbf9;
}

p {
  font-family:"Font";
  font-size:22px;
  color:#00bbf9;
}

input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

button {
  width: 100px;
  height: 40px;
  font-size: 16px;
}

#chatbot-response {
  margin-top: 20px;
  color: white;
}